*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.login-content
{
    position: relative;
    width: 80%;
    height: 60vh;
    transform: translate(-15%, 35%);
    box-shadow: 1px 1px 20px #333;
}
.login-item
{
    position: relative;
    width: 50%;
    height: 60vh;
    float: left;
}
.login-item-h1
{
    font-size: 35px;
    padding: 50px 20px 0px 20px;
}
.login-item-lable
{
    font-size: 20px;
    display: block;
    padding: 5px 20px;
}
.input
{
    width: 86%;
    margin: 2px 20px;
    padding: 10px 10px;
    font-size: 15px;
    outline: none;
}
.button_submit
{
    padding: 5px 30px ;
    margin: 30px 20px ;
    width: 90%;
    display: block;
    margin-bottom: 10px;
    background-color: #2E86C1;
    border: none;
    color: white;
    outline: none;
    font-size: 20px;
}
.link
{
    margin: 5px 230px ;
    text-decoration: none;
    color: black;
}
.logo
{
    position: absolute;
    width: 10%;
    margin: 20px;
}