*{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
}  
a{
    text-decoration: none !important;
}
   

/*
    supplier section
*/ 

.section-search .search-block .form-group{
    margin-bottom: 7px !important;
}

.section-search .has-search .form-control {
    padding-right: 2.375rem;
    height: 50px;
    border: none;
}

.section-auth{
    padding: 2.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.section-auth .btn-auth{
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 130, 195);
    height: 48px;
    padding: 0px 16px;
    font-size: 17px;
    line-height: 26px;
    border-radius: 6px;
    outline: none;
}

.section-auth .auth-block .auth-title{
    font-size: 28px;
}

.section-auth .auth-block{
    width: 40%;
    /* margin: auto; */
    padding: 15px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 24px 38px 3px rgb(0 0 0 / 14%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.section-auth .auth-block .form-check label{
    padding-right: 1.25rem;
    position: relative;
    top: -4px;
}
 